
#                **Improved Occupation Exercise â€“ Pandas Filtering & Sorting**

This notebook improves the original exercise by providing clearer instructions, additional tasks, and well-documented solutions. The dataset contains user demographics, occupations, and zip codes.

In [9]:
import pandas as pd

# Load the dataset
users = pd.read_table(
    "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user",
    sep='|'
)

users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

## Original Tasks (Improved)


---


**Task 1**

Display the first 10 records of the dataset and describe the column names.

**Task 2**

Find the most common occupation in the dataset.

**Task 3**

Show the number of male and female users in the dataset.

## Additional Tasks Added for Clarity and Practice


---


**Additional Task 1**





Show the top 5 most common occupations and their counts.




**Additional Task 2**

Calculate the proportion (percentage) of each occupation in the dataset.

**Additional Task 3**

Group the users by gender and occupation and show the count for each combination.

#**Solutions**

In [4]:
#Task 1
users.head(10)
users.columns

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [22]:
#Task 2
users['occupation'].value_counts().idxmax()

'student'

In [10]:
#Task 3
users['gender'].value_counts()

gender
M    670
F    273
Name: count, dtype: int64

In [14]:
# Additional Task 1
users['occupation'].value_counts().head(5)

occupation
student          196
other            105
educator          95
administrator     79
engineer          67
Name: count, dtype: int64

In [20]:
# Additional Task 2
(users['occupation'].value_counts(normalize=True)*100).round(2)

occupation
student          20.78
other            11.13
educator         10.07
administrator     8.38
engineer          7.10
programmer        7.00
librarian         5.41
writer            4.77
executive         3.39
scientist         3.29
artist            2.97
technician        2.86
marketing         2.76
entertainment     1.91
healthcare        1.70
retired           1.48
lawyer            1.27
salesman          1.27
none              0.95
homemaker         0.74
doctor            0.74
Name: proportion, dtype: float64

In [21]:
# Additional Task 3
users.groupby(['gender', 'occupation']).size()

gender  occupation
F       administrator     36
        artist            13
        educator          26
        engineer           2
        entertainment      2
        executive          3
        healthcare        11
        homemaker          6
        lawyer             2
        librarian         29
        marketing         10
        none               4
        other             36
        programmer         6
        retired            1
        salesman           3
        scientist          3
        student           60
        technician         1
        writer            19
M       administrator     43
        artist            15
        doctor             7
        educator          69
        engineer          65
        entertainment     16
        executive         29
        healthcare         5
        homemaker          1
        lawyer            10
        librarian         22
        marketing         16
        none               5
        other             69
        programmer        60
        retired           13
        salesman           9
        scientist         28
        student          136
        technician        26
        writer            26
dtype: int64

## **Summary**

This improved exercise provides clearer tasks, additional practice questions, and well-documented solutions to help beginners understand Pandas filtering, sorting, aggregation, and groupby operations.